.top-sellers-container {
    margin: 20px;
    padding: 20px;
}

h2{
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 13px;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.scroll-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 5px;
}

.scroll-button img {
    width: 30px; 
    height: auto;
    display: block; 
}

.left-arrow {
    left: -35px; 
}

.right-arrow {
    right: -35px;
}

.books-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.book-item {
    flex: 0 0 auto;
    text-align: center;
}

.book-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.books-carousel::-webkit-scrollbar {
    display: none;
}

.books-carousel {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* modifications para ter background-image */
.top-sellers-container {
    margin: 0px;
    padding: 40px;
}