@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

.bytesized-regular {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
}

header{
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 150px;
    background-color: #fbfbfb;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    align-items: center;
    width: 300px;
    transition: all;
}

.icone a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: "Italiana", sans-serif;
}

.links{
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.links svg {
    height: 30px;
    color: black;
    transition: all 0.2s ease-in-out;
}

.links svg:hover {
    height: 35px;
    
}

.icone-pesquisar:hover {
    cursor: pointer;
}