.all{
  margin: 0 70px;
}

.secao-carrossel {
    margin: 20px;
    padding: 20px;
  }
  
  .secao-carrossel h2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .scroll-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 5px;
  }
  
  .scroll-button img {
    width: 30px;
    height: auto;
    display: block;
  }
  
  .left-arrow {
    left: -35px;
  }
  
  .right-arrow {
    right: -35px;
  }
  
  .books-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 15px;
  }
  
  .books-carousel::-webkit-scrollbar {
    display: none;
  }
  
  .books-carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Estilos específicos para a seção de livros */
  .livros-recomendados .book-item {
    flex: 0 0 auto;
    width: 250px; /* Ajuste conforme necessário */
    margin-right: 15px;
    text-align: center; 
  }
  
  .livros-recomendados .book-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  
  .livros-recomendados .book-item .avaliacao {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  .livros-recomendados .book-item .preco {
    font-weight: bold;
    color: #222;
  }
  
  /* Estilos específicos para a seção de autores */
  .autores-principais {
    align-items: center; /* Alinhar verticalmente os itens */
  }
  
  .autores-principais .autor-item {
    flex: 0 0 auto;
    width: 200px; /* Ajuste conforme necessário */
    margin-right: 15px;
    text-align: center;
  }
  
  .autores-principais .autor-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
  }
  
  .autores-principais .autor-item p {
    font-size: 1.2em;
  }

