
/* Estilo do carrossel */
.carousel-container {
  position: relative;
  max-width: 100vw;
  height: 35dvh; /* Altura ajustada para o carrossel */
  overflow: hidden;
  /* margin: 20px 0; Margem em cima do carrossel */
}

.carousel {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%; /* Altura ajustada para caber as imagens */
}

/* colocar a imagem ser background */
.carousel-images div {
  min-width: 100%; /* Cada imagem ocupa 100% do contêiner */
  height: auto;
  object-fit: cover; /* Cobre o contêiner */
  filter: brightness(0.8);
}

.slide-1 {
  background-image: url(https://pbs.twimg.com/media/EtVSTqSXYAI9RJo.jpg);
  background-size: repeat;  /*mudar para cover em imagens normais*/
  background-position: center;
}

.slide-2 {
  background-image: url(https://preview.redd.it/o9iq0k8ksbnd1.png?auto=webp&s=c0a299069c7534fb1a9d856eed9cf94d4068fd61);
  background-size: repeat;  /*mudar para cover em imagens normais*/
  background-position: center;
}

.slide-4 {
  background-image: url(https://pbs.twimg.com/media/EvKIDopXAAEzR3U.jpg);
  background-size: repeat;  /*mudar para cover em imagens normais*/
  background-position: center;
}

.slide-3 {
  background-image: url(https://pbs.twimg.com/media/EtjPrKGXAAEkY_w.jpg);
  background-size: repeat;  /*mudar para cover em imagens normais*/
  background-position: center;
}

/* Estilo dos botões do carrossel */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-B {
  left: 10px;
}

.next-B {
  right: 10px;
}

/* Estilo dos pontos do carrossel */
.dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.dot.activeB {
  background-color: white;
}


/* https://i.pinimg.com/474x/99/85/85/9985851e1d9b2a7dfd24f9e0a56c261f.jpg */
/* https://static.vecteezy.com/ti/vetor-gratis/p1/2948777-pixel-background-the-concept-of-games-background-vetor.jpg */
/* https://static.vecteezy.com/ti/vetor-gratis/p1/2948785-pixel-minecraft-style-land-background-vetor.jpg */